.about-me {
    padding-top: 120px;
    &__wrapper {
        min-height: 600px;
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: repeat(2, minmax(240px, auto));
        gap: 40px 70px;
        grid-template-areas:
            "photo text"
            "photo feature";
    }
    // min-height: 600px;
    &__subtitle {
        padding-left: 10px;
        position: relative;
        @include before_circle;
    }
    &__descr {
        margin-top: 20px;
    }
}
.about-me__img {
    grid-area: photo;
    width: 100%;
}
.about-me__feature {
    grid-area: feature;
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-template-rows: minmax(116px, auto);
    grid-auto-rows: minmax(116px, auto);
    gap: 20px 50px;
}

.about-me__text {
    grid-area: text;
    .divider {
        margin: 0;
    }
}

.about-me__feature__wrapper {
    display: grid;
    grid-template-columns: 40px 200px;
    grid-template-rows: minmax(116px, auto);
    grid-auto-rows: minmax(116px, auto);
    column-gap: 20px;
}

.grid-elem-super-mini {
    &__subtitle {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
    &__descr {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}

.about-me__feature__wrapper__img img {
    height: 27px;
}

.about-me__feature__wrapper__img {
    position: relative;
    padding-top: 14px;
    display: flex;
    justify-content: end;
    @include before_circle;
    &:before {
        top: 0;
    }
}
