.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    align-items: center;
    top: 210px;
    left: 50px;
    // background-color: #fff;
    &__link {
        &:hover {
            // svg path{
            //     fill: red
            // }
            svg {
                transform: scale(1.2);
            }
        }
    }
    &__divider {
        width: 1px;
        height: 70px;
        // background-color: #fff;
        background-color: orange;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
            color: orange;
            //    color: #fff;
        }
    }
}
